<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>BWFUIFramework</title>
		<link rel="stylesheet" href="${rc.contextPath}/css/bootstrap.min.css" />
		<link rel="stylesheet" href="${rc.contextPath}/css/animate.min.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/jquery.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="${rc.contextPath}/js/wow.js" ></script>
		<link rel="stylesheet" href="${rc.contextPath}/css/global.css" />
		<script type="text/javascript" src="${rc.contextPath}/js/global.js" ></script>
		
		<script type="text/javascript">
			$(function(){
				$(".delete-user").click(function(){
					var id = $(this).prev().val();
				
					location.href = '${rc.contextPath}/user/delete/'+id;
				})
				
				$("#deleteMulti").click(function(){
						$("#form1").submit();
				})
				
				$("#userAdd").click(function(){
					location.href = '${rc.contextPath}/user/add'
				})
			})
		</script>
	</head>
	<body>
			
			<form id="form1" action="${rc.contextPath}/user/delete" method="GET" role="form">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					&nbsp;&nbsp;
					用户管理
					<div class="btn-group btn-group-sm pull-right">
					<button type="button" class="btn btn-default" id="deleteMulti">
						<img src="${rc.contextPath}/img/7.png" height="16px"/>
						&nbsp;&nbsp;批量删除
					</button>
					<button type="button" class="btn btn-default" id="userAdd">
						<img src="${rc.contextPath}/img/plus.png" height="16px"/>
						&nbsp;&nbsp;添加数据
					</button>
					</div>
				</div>
				
				<div class="panel-body">
					
					
						
						<table class="table table-bordered table-condensed table-hover table-responsive cbx-group">
							<thead>
								<tr>
									<th class="td-checkbox"><input type="checkbox" class="cbx-all"/></th>
									<th>员工编号</th>
									<th>用户名</th>
									<th>昵称</th>
									<th>上级领导</th>
									<th>头像</th>							
									<th>操作选项</th>
								</tr>
							</thead>
							<tbody>
								<#list allUsers as users>
								<tr >
									<td align="center" class="td-checkbox">
										<input type="checkbox" name="id" value="${users.userId}" />
									</td>
									<td>${users.userId}</td>
									<td>${users.username}</td>
									<td>${users.nickname}</td>
									<td>${users.leader.nickname}</td>
									<td>
										<img style="height:30px" class="image image-responsive" src="${rc.contextPath}/img/avaters/${users.avater}">
									</td>
									
									<td width="120px">
										<span class="btn-group btn-group-xs" >
											<button type="button" class="btn btn-default">查看</button>
											<button type="button" class="btn btn-default">编辑</button>
											<input type="hidden" value="${users.userId}"/>
											<button type="button" class="btn btn-danger delete-user">删除</button>
										</span>
									</td>
								</tr>
								</#list>
							</tbody>
						</table>
						
						<div class="row">
							<div class="col-lg-8 col-md-7 col-sm-7 col-xs-5">
								<div class="btn-group btn-group-sm">
									<button type="button" class="btn btn-darkgreen">
										<span class="hidden-xs hidden-sm"> 首 页 </span>
										<span class="hidden-lg hidden-md"> |&lt; </span>
									</button>
									<button type="button" class="btn btn-darkgreen">
										<span class="pagePre hidden-xs hidden-sm"> 上一页 </span>
										<span class="hidden-lg hidden-md"> &lt;&lt; </span>
									</button>
									<button type="button" class="btn btn-default hidden-xs hidden-sm">
										.…
									</button>
									<button type="button" class="btn btn-default hidden-xs hidden-sm hidden-md">
										3
									</button>
									<button type="button" class="btn btn-default hidden-xs hidden-sm">
										4
									</button>
									<button type="button" class="btn btn-default hidden-xs">
										5
									</button>
									<button type="button" class="btn btn-default hidden-xs">
										6
									</button>
									<button type="button" class="btn btn-darkgreen hidden-xs">
										7
									</button>
									<button type="button" class="btn btn-default hidden-xs">
										8
									</button>
									<button type="button" class="btn btn-default hidden-xs">
										9
									</button>
									<button type="button" class="btn btn-default hidden-xs hidden-sm">
										10
									</button>
									<button type="button" class="btn btn-default hidden-xs hidden-sm hidden-md">
										11
									</button>
									<button type="button" class="btn btn-default hidden-xs hidden-sm">
										.…
									</button>
									<button type="button" class="btn btn-darkgreen">
										<span class="pageNext hidden-xs hidden-sm"> 下一页 </span>
										<span class="hidden-lg hidden-md"> &gt;&gt; </span>
									</button>
									<button type="button" class="btn btn-darkgreen">
										<span class="hidden-xs hidden-sm"> 末 页 </span>
										<span class="hidden-lg hidden-md"> &gt;| </span>
									</button>
								</div>
								
							</div>
							<div class="col-lg-4 col-md-5 col-sm-5 col-xs-7">
								<div class="input-group input-group-sm">
									<input type="text" class="form-control" placeholder="7" />
									<span class="input-group-addon"> / 60 页 </span>
									<div class="input-group-btn">
										<button type="button" class="btn btn-darkgreen">
											Go
										</button>
									</div>
								</div>
							</div>
						</div>
						
						
						
					
					
					
					
				</div>
			</div>
			
		</form>
		<div style="height: 80px;"></div>
	</body>
</html>

