<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 对应 dao 中的 接口 -->
<mapper namespace="com.bwf.dao.MenuMapper">
	
	<!--column不做限制，可以为任意表的字段，而property须为type 定义的pojo属性-->
	<resultMap id="menu" type="com.bwf.entity.Menu">
	  <id column="menu_id" property="menuId" />
	  <result column="menu_name" property="menuName"/>
	  <result column="menu_url" property="menuUrl"/>
	  <result column="pid" property="pid"/>
	</resultMap>

</mapper>